* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 50%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
    --White: hsl(255, 100%, 100%);
}
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/bg-intro-desktop.png);
    background-color: var(--Red);
}
main {
    display: grid;
    width: 80vw;
    grid-template-columns: 1fr 1fr;
}

/*  */
section {
    color: var(--White);
    margin: 1.5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-self: center;
}
section h1 {
    font-size: 3em;
    line-height: 1.5em;
    margin-bottom: 0.5em;
}

/*  */
.user-info {
    display: grid;
    gap: 1.5em;
    margin: 1em;
}
.user-info .ad {
    background: var(--Blue);
    color: var(--White);
    padding: 1.5em;
    border-radius: 0.5em;
    text-align: center;
    font-size: 0.9em;
    font-weight: 400;
    box-shadow: 0 9px 4px 0 rgba(0,0,0,0.2);
}

/*  */
.form-container {
    background: var(--White);
    padding: 2em;
    border-radius: 0.5em;
    min-width: 20em;
    display: grid;
    gap: 1em;
    box-shadow: 0 9px 4px 0 rgba(0,0,0,0.2);
}
.form-container form ul {
    list-style: none;
}
.form-container form ul li {
    position: relative;
    margin-bottom: 1.5em;
}
.form-container form ul li input {
    width: 100%;
    border: 1px solid var(--Grayish-Blue);
    border-radius: 0.5em;
    padding: 1em 1.5em;
    font-size: 1em;
    outline: none;
}
.form-container form ul li input:focus {
    border: 1px solid var(--Blue)
}
.form-container form ul li .icon {
    display: none;
    /* position: absolute;
    transform: translate(-3em, 0.8em); */
}
.alarm_icon {
    position: absolute;
    transform: translate(-3em, 0.8em);
}
.form-container form ul li p {
    display: none;
    color: var(--Red);
    text-align: end;
    margin-top: 0.5em;
    font-size: 0.7em;
}
.form-container form ul button {
    width: 100%;
    border: 1px solid var(--Green);
    background: var(--Green);
    color: var(--White);
    padding: 1em;
    font-size: 0.9em;
    border-radius: 0.3em;
    box-shadow: 0 1px 1px 1px hsl(154, 59%, 40%);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.form-container form ul li button:hover {
    background: hsl(154, 59%, 70%)
}
.form-container > p {
    font-size: 0.7em;
    text-align: center;
    color: var(--Grayish-Blue);
    margin-bottom: 1em;
}
.form-container a {
    text-decoration: none;
    color: var(--Red);
}

@media screen and (max-width: 560px) {
    main {
        grid-template-columns: 1fr;
        width: 95vw;
    }
    section {
        text-align: center;
        margin: 3em 0 2em 0;
    }
    section h1 {
        font-size: 1.7em;
        margin-bottom: 1em;
    }

    .form-container {
        min-width: 0;
        margin: 0;
        padding: 1.5em;
    }
    .form-container form ul li {
        margin-bottom: 1em;
    }
}